@font-face {
    font-family: Poppins;
    src: url(./modules/fonts/Poppins-Regular.ttf);
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-grow: 1;
}

#content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: thick solid green;
    height: 10vh;
    padding: 2vh;
}
.body{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}
.sidebar{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    width: 25vw;
    height: 90vh;
    border: thin solid rgba(0, 0, 0, 0.212);
}
h2{
    margin: 1vw;
}
.summary{
    display: flex;
    flex-direction: column;
}
h2::after{
    content: "";
    display: block;
    border: 1px solid black;
}

.tile{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 5vh;
    padding-left: 1vw;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer;
}

.selected{
    background-color: rgba(255, 217, 0, 0.452);
    transition: 0.2s ease-in-out;
}

.tile:not(.selected):hover{
    background-color: beige;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1vh;
    flex-grow: 1;
    min-width: 75vw;
    height: 90vh;
    padding: 1vw;
    padding-bottom: 0;
}

.todoContainer{
    display: flex;
    flex-direction: column-reverse;
    gap: 1vh;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 5vh;
    margin-top: auto;
}
.todoItem{
    display: flex;
    align-items: center;
    height: 6vh;
    width: 100%;
    border: 2px solid black;
    padding: 5px;
    gap: 2vw;
    font-size: 1.5rem;
    color: black;
}

.item{
    outline: none;
    border: none;
    font-size: 1.5rem;
}
.item:disabled{
    background-color: white;
    color: red;
}
.addItem > .item::placeholder{
    color: grey;
    font-style: italic;

}
.addIcon{
    height: 2.5rem;
    margin-left: auto;
    transition: transform 0.4s ease-in-out;
}
.addIcon:hover{
    transform: rotate(180deg);
    cursor: pointer;
}

input[type="checkbox"]{
    height: 40px;
    width: 40px;
    cursor: pointer;
    accent-color: green;
}

.taskDescription{
    display: flex;
    color: grey;
    font-style: italic;
    flex-grow: 1;
}