@font-face {
    font-family: Poppins;
    src: url(./modules/fonts/Poppins-Regular.ttf);
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    flex-grow: 1;
}

#content{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: thick solid black;
    height: 8vh;
    padding: 2vh;
}
.body{
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
}
.sidebar{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap: 20px;
    width: 25vw;
    height: 85vh;
    border: thick solid black;
}
h2{
    margin: 1vw;
}
.summary{
    display: flex;
    flex-direction: column;
}
h2::after{
    content: "";
    display: block;
    border: 1px solid black;
}

.tile{
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 5vh;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
    cursor: pointer;
}
.tile:hover{
    background-color: beige;
}

.content{
    display: flex;
    flex-grow: 1;
    min-width: 75vw;
    height: 85vh;
    border: thick solid brown;
}
.footer{
    display: flex;
    width: 100vw;
    height: 7vh;
    flex-grow: 1;
    border: thick solid pink;

}